rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // DESENVOLVIMENTO / TESTE
    // Publicar em: Firebase Console > Build > Storage > Rules > Publicar
    // Se publicar em Firestore Rules, não resolve upload.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
