rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    match /layout/{allPaths=**} {
      allow read: if true;
      allow write: if signedIn();
    }
    match /plataforma/{allPaths=**} {
      allow read: if true;
      allow write: if signedIn();
    }
    match /{allPaths=**} {
      allow read: if true;
      allow write: if signedIn();
    }
  }
}
